<div>
    <div class="welcome-greeting">
        <h1>Hey, Pull Up Chair, Cmon!</h1>
        <p>This is <b>Dani Antonio Ona</b>, A Filipino Geek, I mean 
          Software Developer from the Philippines *woah! gasp*. I develop apps for the desktop platform,
          web and android too! I have a day-time job and I also do side-projects from time to time.
          <br><br>This my portfolio and blog. Here, i'll be posting tech stuff, games and pretty
          much anything I want to post. Read on.</p>
    </div>
</div>
